#popup {
    display: none;
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 50px;
    right: 50px;
    border-style: solid;
    background-color: beige;
}

#popup .popupHeader {
    display: flex;
    flex-direction: row-reverse;
}

#popup .headerClose {
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

#popup .popupContent {
    display: flex;
    justify-content: space-evenly;
}
body {
    margin: 0;
    position: relative;
}

body > div {
    max-width: 1000px;
    margin: auto;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#header h1 {
    color: white;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

.contentTile {
    aspect-ratio: 5 / 3;
}

.contentTileCore {
    margin: 10px;
    background-color: lightgrey;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

